
body {
  background-image: url("https://i.pinimg.com/564x/0e/57/65/0e57658a3b9df63ff52f8cff046600b2.jpg");
  background-size: 100%;
  background-attachment: fixed;
  font-family: "Gruppo", sans-serif;
  font-size: 3vmin;
}

body * {
  box-sizing: border-box;
}

.titleContainer {
  text-align: center;
}

h1 {
  font-family: "New Rocker", system-ui;
/*  color: #ee7272;*/
  color: white;
  font-size: 8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 3);
}

h3 {
  font-family: "Medula One", system-ui;
  font-size: 8vmin;
  line-height: 50px;
  margin-top: 0;
}

h4 {
  font-family: "Gruppo", sans-serif;
  line-height: 15px;
  margin: 0;
}

h5 {
  font-family: "Gruppo", sans-serif;
  line-height: 15p;
}

#outputElement {
  padding: 2vmin;
  color: #333;
}

#outputParagraph {
  color: #fff;
}

#contentGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5vmin;
  grid-row-gap: 5vmin;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 2vmin;
  padding-top: 6vmin;
  font-size: 1.5rem;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
  background-color: rgba(0, 0, 0, 0.39);
  margin-top: 0;
  margin-left: 3vmin;
  margin-right: 3vmin;
  margin-bottom: 3vmin;
}

#why {
  color: white;
  font-size: 14vmin;
  margin-top: 0vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
}

.contentItem {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  padding: 1vmin;
  color: #eee;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.62);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.62);
  border: 1px solid black;
  border-radius: 0.25vmin;
  height: 100%;
}

.albumImageContainer {
  margin-top: auto;
}

.albumImage {
  width: auto;
  height: 32vmin;
  margin-bottom: 0;
}